.navbar-shadow {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
}
.logged {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor:pointer;
}
.product-image {
	width: 150px;
	height: 150px;
}
.profile-dropdown {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: inherit;
    font-weight: inherit;
    left: 0;
    margin-left: 0px;
    display: none;
    position: absolute;
    right: 0;
    text-transform: none;
    width: 200px;
    z-index: 99999;
    line-height: 30px;
    width: 100px;
    list-style-type: none;
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.profile-dropdown a {
    color: #000;
}
.overlay {
    display: none;
}
.profile-overlay {
    opacity: 0.7;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2000;
}
.profile-modal {
    position: fixed;
    top: 26%;
    left: 44%;
    width: 35%;
    height: 82%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #fff;
    text-align: center;
    z-index: 2010;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
div.close-overlay {
    position: relative;
    top: 2%;
    left: 45%;
    cursor: pointer;
}
img.close-overlay {
    width: 5%;
}
.overlay-title {
    font-size: 25px;
}
social-login {
    padding-top: 15px;
}
.social-login img {
    width: 42%;
    padding: 15px;
    cursor: pointer;
}
form.login {
    padding-top: 30px;
}
form input {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a79d9d;
    padding-bottom: 8px;
}
form input:focus {
    border-bottom: 2px solid #000;
    outline: none;
}
form select:focus {
    border-bottom: 2px solid #000;
    outline: none;
}
form.login input.form-text-box-email {
    /*margin-bottom: 40px;*/
}
.form-forgot-password-option {
    float: right;
    padding-right: 45px;
    padding-top: 5px;
}
.btn-signin {
    width: 80%;
    padding: 10px;
    margin-top: 10%;
    background-color: #E21957;
    color: #fff;
    border: none;
}
.forgot-password-overlay {
    display: none;
}
.forgot-password-form p {
    font-size: 18px;
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 40px;
    width: 90%;
}
.back-overlay {
    width: 28px;
    height: 28px;
    position: relative;
    right: 190px;
    bottom: 15px;
    cursor: pointer;
}
.sign-up-overlay-1 {
    display: none;
}
.sign-up-form input {
    /*margin-bottom: 30px;*/
}
.sign-up-form select {
    width: 40%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a79d9d;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.sign-up-next-btn, .sign-up-btn {
    width: 80%;
    padding: 10px;
    background-color: #E21957;
    color: #fff;
    border: none;
    margin-left: 45px;
    cursor: pointer
}
.sign-up-btn {
    display: none;
    margin-left: 48px;
}
.sign-up-overlay-2 {
    display: none;
}
a:hover {
    text-decoration: none;
}
.center {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.footer {
    background-color: #fff;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.5);
}
.footer-left-menu {
    padding-left: 10px;
    padding-right: 10px;
}
.footer-brand {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.main-content {
    background-color: #EFF0F1;
}
.store-badge-icon {
    width: 45%;
    border-radius: 8px;
}
.payment-badge-icon {
    width: 12%;
}
.footer-list {
    list-style: none;
    padding-left: 0px;
}
.footer-list li {
    padding: 5px;
}
.footer-content {
    line-height: 35px;
}
.store-info {
    margin-top: 20px;
}
.col-text,
.col-text a {
    color:  #e41958;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.header-right-icons {
    padding: 5px;
}
.footer-right-icons {
    padding: 5px;
    width: 30px;
}
.footer .footer-brand {
    padding: 25px;
}
main {
    padding-top: 100px;
}
.tags {
    color:  #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
}
.tag-icons {
    width: 15%;
}
.left-tag {
    -webkit-clip-path: polygon(75% 0%, 85% 49%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    clip-path: polygon(75% 0%, 85% 49%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    background-color: #9d1080;
    min-height: 87px;
    width:120%;
}
.left-tag div {
    padding-top: 25px;
    padding-right: 70px;
}
.center-tag {
    -webkit-clip-path: polygon(100% 0, 90% 49%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
    clip-path: polygon(100% 0, 90% 49%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
    background-color: #e41958;
    min-height: 70px;
    width:120%;
}
.center-tag-img{
    top: -15px;
    position: relative;
}
.center-tag-text {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
}
.right-tag {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 15% 49%, 25% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 15% 49%, 25% 0%);
    background-color: #9d1080;
    min-height: 86px;
    width:120%;
}
.right-tag div {
    padding-top: 25px;
    padding-left: 50px;
}
.removePadding {
    padding: 0;
}
.price-rise-fall {
    background-color:  #2fa9f6;
    width: 100%;
    color: #fff;
}
.price-rise-fall span {
    padding-left: 25px;
    padding-right: 25px;
    border-right: 2px solid #fff;
}
.price-rise-fall img {
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}
.marquee {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}
.marquee:hover {
    animation-play-state: paused
}
@keyframes marquee {
    0%   { text-indent: 110em }
    100% { text-indent: -110em }
}
.product-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
div.location-popup {
    cursor: default;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    font-weight: inherit;
    left: 0px;
    margin-left: 0px;
    top: 65px;
    position: absolute;
    right: 0px;
    text-transform: none;
    z-index: 99999;
    width: 300px;
    list-style-type: none;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px 0px 2px 0px;
    border-radius: 10px;
    color: #000;
    height: 120px;
}
div.location-popup .change-address {
    cursor: pointer;
    color: #6cb5e3;
}
.product-container-title-row {
    padding-top: 25px;
    padding-bottom: 50px;
}
.product-container-title {
    color:  #000000;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
    text-align: center;
}
.product-card {
    background-color:  #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 360px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.product-card p {
    margin-bottom: 0px;
}
.product-card a {
    color: #000;
}
.product-quantity {
    border-radius: 5px;
    background-color: #E9E9E9;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    text-align-last: center;
}
.add-to-bag {
    background-color: #E21957;
    border-radius: 10px;
    width: 65%;
    height: 13%;
    border: none;
    color: #fff;
}
.add-to-bag img {
    position: relative;
    right: 8px;
    bottom: 2px;
}
.chose-quantity {
    width: 20%;
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
    background-color: #E9E9E9;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(169, 169, 169);
}
.strike {
    text-decoration: line-through;
}
.product-row {
    padding-bottom: 25px;
}
.fruit-more-panel {
    display: none;
}
.fruit-more-link:hover {
    cursor: pointer;
}
.vegetable-more-panel {
    display: none;
}
.vegetable-more-link:hover {
    cursor: pointer;
}
.loader-section {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product-description-card {
    background-color: #fff;
    width: 88%;
    height: 475px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.product-description-card .col-md-2, .product-description-card .col-md-5 {
    padding-top: 62px; 
}
.product-description-card .col-md-2{
    padding-left: 50px;
}
.product-description-card .col-md-5 {
    padding-left: 0px;
}
.product-description-card .prod-lg-view {
    border-style: solid;
    border-width: 2px;
    border-color: #e5e3e3;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 350px;
    height: 350px;
    text-align: center;
}
.product-description-card .prod-sm-view {
    border-style: solid;
    border-width: 2px;
    border-color:  #e5e3e3;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    float: right;
    text-align: center;
}
.product-description-card .prod-sm-view img {
    width: 100%;
    cursor: pointer;
}
.product-description-card .active-sm-view {
    border: 2px solid #e41958;
}
.product-description-card .prod-lg-view img {
    width: 100%;
}
.product-description {
    width: 400px;
    height: 350px;
    margin-left: -50px;
}
.product-description .price-arrow {
    padding-right: 10px;
}
.product-description .prod-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 15px;
}
.product-description .prod-price-strike {
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-decoration: line-through;
    padding-left: 20px;
    margin-bottom: 15px;
}
.product-description .prod-price {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    padding-left: 20px;
}
.prod-desc-quantity {
    padding-top: 60px;
}
.prod-desc-quantity select {
    height: 28px;
    font-size: 15px;
}
.prod-desc-quantity span {
    font-size: 18px;
}
.prod-desc-quantity input {
    height: 28px;
    font-size: 15px;
    font-weight: bold;
}
.prod-desc-quantity button {
    width: 60%;
    height: 50px;
}
.basket-container {
    padding-bottom: 50px;
}
.basket-card {
    width: 88%;
    margin: 0 auto;
}
.basket-logo {
    width: 60px;
    position: relative;
    top: 170px;
    left: 60px;
    z-index: 2;
}
.basket-table {
    width: 100%;
    display: table;
}
.basket-table tbody {
    background: #fff;
    font-weight: bold;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 32px -8px rgba(0,0,0,0.75);
}
.basket-table tbody a.remove-item-link div {
    background: #e41958;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    padding-top: 2px;
    padding-left: 2px;
}
.basket-table thead th {
    height: 40px;
}
.basket-table tbody td {
    height: 50px;
}
.basket-table tbody td.quantity-data {
    display: inline-flex;
    padding-top: 15px;
}
.basket-table tbody .change-quantity {
    background: #E41958;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding-right: 1px;
    cursor: pointer;
}
.basket-table tbody .item-name-data {
    text-align: left;
    padding-left: 15px;
    width: 230px;
}
table.basket-table th:first-child {
    text-align: left;
    padding-left: 50px;
}
table.basket-table tbody tr {
    border-bottom: 1px solid #cac4c4;
}
table.basket-table tbody tr:last-child {
    border-bottom: none;
}
table.basket-table tr:first-child td:first-child {
    border-top-left-radius: 15px;
}
table.basket-table tr:first-child td:last-child {
    border-top-right-radius: 15px;
}
table.basket-table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
table.basket-table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
table.basket-table tr.total-bill-data, table.basket-table .delivery-charge-data {
    text-align: left;
    border-bottom: none;
}
table.basket-table tr.total-bill-data td, table.basket-table .delivery-charge-data td {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
}
.grand-total-card {
    height: 110px;
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.grand-total-card h3 {
    margin-bottom: 15px;
}
.grand-total-card .checkout-btn {
    border-radius: 10px;
    background-color:  #e41958;
    border: none;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.checkout-tags .tags .col-md-3 {
    font-size: 18px;
}
.checkout-tags .left-tag {
    min-height: 70px;
    width: 135%;
}
.checkout-tags .left-tag div {
    padding-top: 22px;
}
.checkout-tags .center-tag {
    min-height: 70px;
    width: 135%;
}
.checkout-tags .center-tag .center-tag-text {
    padding-top: 22px;
}
.checkout-tags .right-tag {
    min-height: 70px;
    width: 135%;
}
.checkout-tags .right-tag div {
    padding-top: 22px;
}
.checkout-tags .checkout-tag-1 {
    padding-right: 25px;
}
.checkout-tags .checkout-tag-2 {
    padding-right: 3px;
}   
.checkout-tags .checkout-tag-3 {
    padding-left: 25px;
}
.checkout-description-card {
    width: 88%;
    height: 475px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.checkout-description-card .checkout-email-detail {
    background: #f5f5f5;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #cfcccc;
}
.checkout-description-card .checkout-address-detail {
    background: #f5f5f5;
    height: 150px;
    border: 1px solid #cfcccc;
}
.checkout-description-card .checkout-payment-detail {
    background: #f5f5f5;
    height: 150px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #cfcccc;
    margin-bottom: 30px;
}
.checkout-description-card .checkout-bill-price-detail {
    background: #fff;
    height: 100px;
    border-radius: 15px;
    margin-left: 20px;
}
.checkout-bill-price-detail h3 {
    margin-bottom: -8px;
}
.checkout-basket-logo {
    width: 5%;
}
.checkout-basket-logo {
    position: relative;
}
.checkout-basket-logo .checkout-basket-logo {
    width: 125%;
    position: absolute;
    top: -30px;
    left: -40px;
}
.location-popup {
    display: none;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -145%;
    left: 25%;
    margin-left: -80px;
}
.complete-location-text {
    padding: 10px;
}
a.location .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.active-checkout-card {
    background: #fff !important;
}
.active-address-card {
    height: 400px !important;
}
.active-address-card p {
    margin-bottom: 2px;
    margin-top: 10px;
}
.active-address-card input {
    width: 85%;
    background: #f5f5f5;
    border: 1px solid #b4adad;
    border-radius: 5px;
    height: 30px;
    padding-left: 8px;
}
.active-address-card button.checkout-address-btn {
    float: right;
    margin-top: 20px;
    margin-right: 85px;
}
.checkout-address-form {
    padding-left: 83px;
    padding-top: 15px;
}
.checkout-address-btn {
    border: none;
    background: #e41958;
    color: #fff;
    width: 18%;
    border-radius: 5px;
    height: 30px;
}
.disabled-checkout-card {
    color: #979494;
    padding-top: 25px;
}
.checkout-bullet {
    width: 33px;
    text-align: center;
    height: 33px;
    margin-top: 30px;
    margin-left: 30px;
    color: #fff;
    padding-top: 5px;
    background: url('../images/checkout-bullet.png') no-repeat;
}
.checkout-card-title {
    margin-top: 35px;
    margin-left: 20px;
}
.checkout-email-tb {
    background: #f5f5f5;
    border: 1px solid #bebcbc;
    border-radius: 5px;
    height: 30px;
    width: 45%;
    margin-left: 82px;
    padding-left: 8px;
    padding-bottom: 3px;
}
.checkout-email-btn {
    border: none;
    background: #e41958;
    color: #fff;
    width: 18%;
    border-radius: 5px;
    height: 30px;
    margin-left: 15px;
}
.checkout-label {
    margin-left: 82px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 7px;
}
.confirm-checkout-email {
    display: none;
}
.verified-checkout-email {
    display: none;
}
.verified-address-card {
    background: #f5f5f5;
    margin-top: 30px;
    margin-left: 82px;
    width: 300px;
    border-radius: 10px;
}
.checkout-address-btn-verified {
    color: #fff;
    background: #e41958;
    border: none;
    width: 55%;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.add-new-address {
    color: #e41958;
    padding-left: 85px;
}
.cod-btn {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.card-btn {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 5px;
}
.payment-form, .card-form {
    padding: 25px;
    padding-top: 10px;
}
.place-cod-order-btn, .place-card-order-btn {
    width: 175px;
    margin-top: 20px;
    background: #e41958;
    color: white;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.disabled-btn {
    cursor: pointer;
    background: #A09E9E;
}
.active-btn {
    cursor: default;
    background: #E9E9E9;
}
.card-form {
    text-align: left;
    font-weight: bold;
    padding-left: 175px;
}
.card-form p {
    margin-bottom: 0;
}
.card-form input.card-number {
    width: 65%;
    margin-bottom: 15px;
    background: whitesmoke;
    border: 1px solid #a2a2a2;
    padding-left: 2px;
    height: 25px;
    border-radius: 5px;
}
.card-form input.cvv {
    width: 45%;
    height: 25px;
    background: whitesmoke;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    -webkit-text-security: disc;
    padding-left: 5px;
}
.card-form select.card-month, .card-form select.card-year {
    width: 45%;
    height: 25px;
    background: whitesmoke;
    border-radius: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.desktop-checkout-card {
    display: block;
}
.mobile-checkout-card {
    display: none;
}

/* MEDIA QUERY FOR DEFAULT DEVICES */
@media (max-width: 768px) {
    .navbar-brand > img {
        display: block;
        width: 75%;
    }
    .resp-login {
        float: right;
        position: relative;
        top: 10px;
        right: 10px;
        padding-left: 15px;
    }
    main {
        padding-top: 75px;
    }
    .container {
        text-align: center;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .left-tag, .center-tag, .right-tag {
        -webkit-clip-path: none;
        clip-path: none;
        width: 100%;
        min-height: 50px;
    }
    .center-tag {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .left-tag div {
        padding-top: 5px;
        padding-right: 0;
    }
    .right-tag div {
        padding-top: 5px;
        padding-left: 0;
    }
    .product-container-title-row {
        display: inline-flex;
    }
    .product-row {
        padding-bottom: 0;
    }
    .product-card {
        margin-bottom: 25px;
    }
    .footer-content {
        padding-top: 25px;
        width: 110%;
        right: 20px;
        position: relative;
    }
    .profile-modal {
        width: 89%;
        height: 70%;
        top: 30%;
    }
    .back-overlay {
        width: 20px;
        height: 25px;
        position: relative;
        right: 150px;
        bottom: 10px;
        cursor: pointer;
    }
    .sign-up-next-btn, .sign-up-btn {
        margin-left: 35px;
    }
    .basket-logo {
        display: none;
    }
    .product-description-card {
        width: 100%;
    }
    .product-description-card {
        height: auto;
    }
    .product-description-card .prod-sm-view {
        margin: 2px;
    }
    .product-description-card .col-md-2 {
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .product-description-card .prod-lg-view {
        width: 327px;
        height: 327px;
        margin-left: 15px;
    }
    .product-description {
        margin-left: 0px;
        margin-top: -50px;
    }
    .product-description .prod-title {
        padding-left: 15px;
    }
    .prod-desc-quantity {
        width: 360px;
        padding-top: 30px;
    }
    .product-description-card .col-md-5 {
        padding-top: 0px;
        margin-top: 60px;
    }
    .navbar-header {
        width: 390px;
    }
    .basket-table {
        width: 220%;
    }
    .basket-table tbody .item-name-data {
        width: 140px;
    }
    .table-container {
        width: 117%;
        overflow: auto;
    }
    table.basket-table tr:first-child td:first-child {
        border-top-left-radius: 0px;
    }
    table.basket-table tr:first-child td:last-child {
        border-top-right-radius: 0px;
    }
    table.basket-table tr:last-child td:first-child {
        border-bottom-left-radius: 0px;
    }
    table.basket-table tr:last-child td:last-child {
        border-bottom-right-radius: 0px;
    }
    table.basket-table tbody {
        border: 1px solid lightgrey;
    }
    .checkout-tags .left-tag {
        width: 100%;
    }
    .checkout-tags .checkout-tag-1 {
        padding-right: 0px;
    }
    .checkout-tags .center-tag {
        width: 100%;
    }
    .checkout-tags .right-tag {
        width: 100%;
    }
    .checkout-tags .center-tag .center-tag-text {
        padding-top: 10px;
    }
    .checkout-tags .checkout-tag-3 {
        padding-left: 0px;
    }
    .checkout-description-card {
        width: 100%;
    }
    .desktop-checkout-card {
        display: none;
    }
    .mobile-checkout-card {
        display: block;
        margin-bottom: 20px;
        margin-left: 0px !important;
        padding-top: 1px;
        border: 1px solid #cfcccc;
    }
    .checkout-description-card {
        height: auto;
    }
    .checkout-bullet,
    .checkout-label,
    .checkout-email-tb {
        margin-left: 0px;
    }
    .checkout-address-form,
    .add-new-address {
        padding-left: 0px;
    }
    .active-address-card button.checkout-address-btn {
        float: none;
        margin-right: 0px;
    }
    .verified-address-card,
    .card-form input.card-number,
    .card-form input.cvv,
    .place-cod-order-btn, .place-card-order-btn {
        margin-left: 0px;
        width: 100% !important;
    }
    .checkout-payment {
        margin-top: 30px;
    }
    .card-form {
        padding-left: 20px;
    }
    .card-form table td.card-date {
        width: 65% !important;
    }
}
/* MEDIA QUERY FOR iPAD PORTRAIT MODE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #navbar {
        padding-right: 15px;
    }
    .hidden-lg {
        display: none;
    }
    .navbar-header {
        width: 250px;
    }
    .product-description-card .prod-sm-view {
        margin: 8px;
        width: 160px;
        height: 160px;
    }
    .product-description-card .col-md-5 {
        margin-top: 145px;
    }
    .product-description-card .prod-lg-view {
        width: 685px;
        height: 685px;
    }
    .product-description {
        margin-top: -110px;
        width: 100%;
    }
    .product-description .prod-title {
        font-size: 30px;
    }
    .product-description .prod-price-strike,
    .product-description .prod-price {
        font-size: 25px;
    }
    .prod-desc-quantity {
        width: 100%;
    }
    .prod-desc-quantity select,
    .prod-desc-quantity input {
        height: 40px;
        font-size: 25px;
    }
}
/* MEDIA QUERY FOR iPHONE 6 PLUS PORTRAIT MODE*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
    .navbar-header {
        margin-right: 0px !important;
    }
    .product-description-card .col-md-2 {
        padding-right: 30px;
    }
    .product-description-card .prod-lg-view {
        margin-left: 30px;
    }
}
/* MEDIA QUERY FOR iPHONE 6 PORTRAIT MODE*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
    .navbar-header {
        margin-right: -5px !important;
    }
}
/* MEDIA QUERY FOR iPHONE 5 and 5S PORTRAIT MODE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .container {
        width: 95%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .navbar-header {
        width: 330px;
    }
    .grand-total-card {
        width: 115%;
        padding-top: 1px;
        float: none;
    }
    .payment-form {
        width: 97%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .product-description-card .col-md-2 {
        padding-right: 15px;
    }
    .product-description-card .prod-sm-view {
        width: 65px;
        height: 65px;
    }
    .product-description-card .prod-lg-view {
        width: 270px;
        height: 270px;
    }
    .product-description {
        width: 105%;
    }
    .prod-desc-quantity {
        width: 100%
    }
}