<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    <script src="/js/resources/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/resources/jquery.min.js" type="text/javascript"></script>

  </head>
  <body>
    <div id="react-app" class="height-100">{{{body}}}</div>
    <script src="/bundle.js"></script>
  </body>
</html>
